

.nav a {
  display: inline;

  color:#FFFFFF;
  font-size: 24px;
  font-weight:bold;
  padding:10px;
  background-color:pink;

  text-transform:uppercase;
}

.jumbotron {
  height:500px;
  background-image:url('images/me1.png');
}