.header {

  margin-left:auto; margin-right:auto;
}

.nav .container{
  
  margin-left:auto; margin-right:auto;
}
.nav a {
  position: ;
  color:#FFFFFF;
  font-size: 20px; font-weight:bold; font-family:Helvetica, sans-serif;
  padding:5px;
  background-color:pink;

  text-transform:uppercase;
  
  margin-left:auto; margin-right:auto;
}

.nav li {
  display:inline;
  
  margin-left:auto; margin-right:auto;
}

.jumbotron {
  background-size:600px;
  background-image:url('../images/me1.png');
  margin-left:auto; margin-right:auto;
}

.jumbotron h1 {
  font-family:Helvetica; font-size:20px;
}